<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3143822339-m4euphrsgq1fh82db8nu056gt1mpkob1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3143822339-m4euphrsgq1fh82db8nu056gt1mpkob1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>3143822339-fekg268f092td6p9fsgdnq05s6mvpfqd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAET8DpU_pnC3FYNR-ItavVhS4pQ3Q9KHI</string>
	<key>GCM_SENDER_ID</key>
	<string>3143822339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DadeSocial</string>
	<key>PROJECT_ID</key>
	<string>dade-social-fc6af</string>
	<key>STORAGE_BUCKET</key>
	<string>dade-social-fc6af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3143822339:ios:ec8e2afc1b43b68d1c3236</string>
</dict>
</plist>